{#
  Prev / Next Link
  Examples:

 {{ dh_macros.dh_postNav('blog', 'postDate', entry) }}
#}

{% macro dh_postNav(entry, section, order, prevLabel, nextLabel ) %}

  {# Set vars #}
  {% set section     = section|default('blog') %}
  {% set order       = order|default('postDate') %}
  {% set prevLabel   = prevLabel|default(false) %}
  {% set nextLabel   = nextLabel|default(false) %}

  {# Set parameters for prev/next elements list #}
  {% set data = craft.entries.section(section).order(order).limit(null) %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(data) %}
  {% set nextEntry = entry.getNext(data) %}

  {# And make sure to only output the links if the element exists #}
  {% if prevEntry or nextEntry %}
    <ul class="m_postNav">
      {% if prevEntry %}
        <li class="m_postNav__item">
          <a class="m_postNav__link  m_postNav__link--prev" href="{{ prevEntry.url }}">

            {% if prevLabel != false %}
              <span class="m_postNav__label">{{ prevLabel }}</span>
            {% endif %}
            <span class="m_postNav__title">{{ prevEntry.title }}</span>
          </a>
        </li>
      {% endif %}
      {% if nextEntry %}
        <li class="m_postNav__item">
          <a class="m_postNav__link  m_postNav__link--next" href="{{ nextEntry.url }}">
            {% if nextLabel != false %}
              <span class="m_postNav__label">{{ nextLabel }}</span>
            {% endif %}
            <span class="m_postNav__title">{{ prevEntry.title }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endmacro %}
